<div class="row">
  <div class="col-md-5">
    <!-- <app-recipe-list (recipeWasSelected)="ShowRecipeDetails($event)"></app-recipe-list> -->
    <app-recipe-list ></app-recipe-list>
  </div>
  <div class="col-md-7">
<router-outlet></router-outlet>
    <!-- after child route we dont need this -->
<!-- <app-recipe-detail 
*ngIf="recipeDetailobj ; else infoText" 
[recipeDetailItem]="recipeDetailobj"></app-recipe-detail>
<ng-template #infoText>
  <p>
    No Recipe Selected,Please Select !
  </p>
</ng-template> -->
  </div>
</div>